.banner .nav li {
  @extend .nav-item;
}

.banner .nav a {
  @extend .nav-link;
}

.no-padding-right {
  padding-right: 0 !important;
}

.upper-header {
  background-color: map-get($theme-colors, dark-gray);
  color: #fff;
  padding: 4px 0;

  h4 {
    font-size: 1rem;
    margin-bottom: 0;
    margin-top: 5px;
  }
}

.info-header {
  font-size: 0.8rem;
  margin-bottom: 0;
  position: relative;

  strong {
    text-transform: uppercase;
  }

  span {
    margin: 0 25px;
  }

  p {
    margin-bottom: 0;
  }

  &.first::after {
    position: absolute;
    background: #fff;
    width: 1px;
    height: 90%;
    content: "";
    top: 2px;
    right: 15px;
  }
}

.brand {
  display: block;
  margin-top: -25px;

  img {
    min-width: 180px;
  }
}

.logo {
  width: 190px;
  background-color: map-get($theme-colors, logo-red);
  height: 105px;
  color: #fff;
  display: flex;
  font-size: 3rem;
  line-height: 1;
  font-family: $open;
  font-weight: bolder;
  margin-top: -30px;
  justify-content: center;
  align-items: center;
}

.logo:hover {
  text-decoration: none;
  color: #fff;
}

.header-main-menu {
  justify-content: space-between;
  font-family: $lato;

  a {
    color: map-get($theme-colors, dark-gray);
    text-transform: uppercase;
    position: relative;
    transition: 0.25s all ease;

    &::before {
      position: absolute;
      width: 0;
      height: 1px;
      content: "";
      background-color: #000;
      bottom: 5px;
      transition: 0.25s all ease;
    }

    &:hover {
      font-weight: bold;
    }

    &:hover::before {
      width: 95%;
    }
  }
}

.menu-redes {
  justify-content: flex-end;
  font-family: $lato;

  a {
    color: map-get($theme-colors, dark-gray);
    text-transform: uppercase;
    transition: 0.15s all ease;

    &:hover {
      color: map-get($theme-colors, logo-red);
    }
  }
}

.menu-redes li:last-child a {
  padding-right: 0;
}

.menu-redes li > a {
  font-size: 1.8rem;
}

.header-main-menu:first-child a {
  padding-left: 0;
}

.toggleMenu {
  width: 50px;
  height: 35px;
  float: right;
  position: relative;
  display: none;
  z-index: 999;

  span {
    position: absolute;
    width: 80%;
    margin: auto;
    left: 0;
    right: 0;
    height: 2px;
    background-color: #000;

    &:nth-child(1) {
      top: 5px;
    }

    &:nth-child(2) {
      top: 15px;
    }

    &:nth-child(3) {
      top: 25px;
    }
  }
}

@include media-breakpoint-down(lg) {
  .header-main-menu a {
    font-size: 0.7rem;
  }

  .menu-redes li > a {
    font-size: 1.5rem;
  }
}

@include media-breakpoint-down(md) {
  .toggleMenu {
    display: block;
  }

  .slick-arrow {
    display: none !important;
  }

  .main-menu-wrap {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #fff;
    z-index: 9;
    text-align: center;
    transform: translateX(-100%);
    transition: 0.25s all ease;
  }

  .header-main-menu {
    width: 100%;
    position: fixed;
    text-align: center;
    top: 50%;
    transform: translate(-50%, -50%);
    left: 50%;

    li {
      width: 100%;

      a {
        font-size: 2rem;
      }
    }
  }

  .header-main-menu:first-child a {
    padding-left: 0;
    padding-right: 0;
  }

  .menu-visible {
    transform: translateX(0) !important;
  }

  .menu-redes {
    position: fixed;
    z-index: 9;
    width: 100%;
    text-align: center;
    justify-content: center;
    bottom: 15px;
    transform: translateX(-100%);
    transition: 0.2s all ease;
  }

  .menu-redes li > a {
    font-size: 2.5rem;
  }

  .menu-redes li:last-child a {
    padding-right: 1rem;
  }

  .brand {
    margin-top: 0;
    padding: 10px;
  }
}
