.header-producto {
  @extend .cover-bg;

  height: 250px;
}

.product-title {
  margin-top: -50px;
}

.product-content {
  padding-top: 80px;
}

.cats-sidebar {
  margin-top: -50px;
}

.product-title h2 {
  font-family: $lato;
  color: #fff;
  text-transform: uppercase;
  font-weight: bold;
  font-size: 1.8rem;
}

.parent-cat {
  border-top: $border-regular;
  border-bottom: $border-regular;
  padding: 10px 0;
  position: relative;
  transition: 0.15s all ease-out;
  font-family: $lato;
  cursor: pointer;

  h4 {
    margin: 0;
    font-size: 1.3rem;
  }

  a {
    color: #000;

    &:hover {
      text-decoration: none;
    }
  }

  .toggleCatList {
    position: absolute;
    top: 50%;
    right: 10px;
    margin-top: -12px;
    cursor: pointer;
  }

  &:hover {
    padding-left: 10px;
  }
}

.inner-sidebar {
  padding: 0;
  display: none;

  ul {
    list-style: none;
    padding: 0;
    margin-bottom: 0;
    font-size: 0.9rem;

    li {
      margin: 5px 0;

      a {
        color: #000;

        &:hover {
          text-decoration: none;
        }
      }
    }
  }
}

.products-bc {
  background-color: #f1f3f4;
  padding: 5px 15px;
  margin-top: 35px;
}

.filters-menu {
  border: 1px solid #f1f3f4;
  padding: 5px 15px;
  margin-bottom: 25px;
}

.square {
  width: 25px;
  height: 100%;
  display: none;
  text-align: center;
  background: #000;
  position: relative;
  top: -2px;
  font-size: 0.8rem;
  line-height: 0.8;
  padding-top: 6px;
  padding-bottom: 3px;
  margin: 0;
  background-color: #fff;
}

.square i {
  color: #f1f3f4;
}

.marcas-sidebar {
  margin: 25px 0;
}

.marcas-title {
  color: #c1c8ce;
  text-transform: uppercase;
  font-family: $lato;
}

.tagPill {
  color: #c1c8ce;
  display: inline-block;
  text-transform: uppercase;
  border: 2px solid #c1c8ce;
  padding: 5px 10px;
  border-radius: 25px;
  line-height: 1;
  margin: 5px 0;
  font-weight: 100;
  font-size: 0.8rem;
  transition: 0.2s all ease;
  font-family: $lato;

  &:hover {
    background-color: #c1c8ce;
    color: #fff;
    text-decoration: none;
  }
}

.product-detail {
  margin-bottom: 25px;
  transition: 0.2s all ease;
  border: 1px solid #eee;
  border-right: 5px solid #eee;

  &:hover {
    box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15) !important;
    border-right: 5px solid #ed2a2a;
  }

  &.active {
    border-right: 5px solid #ed2a2a;
  }
}

.more-info-product {
  display: none;
  position: relative;
}

.close-description {
  position: absolute;
  bottom: 15px;
  right: 15px;

  a {
    color: #fff;
    background-color: #000;
    font-family: $lato;
    font-weight: bold;
    text-align: center;
    padding: 3px;
    font-size: 1.3rem;

    &:hover {
      text-decoration: none;
    }
  }
}

.product-main-details {
  padding-top: 15px;
  position: relative;

  h2 {
    font-size: 1.5rem;
  }
}

.brands-logos {
  position: absolute;
  right: 0;
}

.logo-img {
  max-width: 30px;
  margin-left: 5px;
}

.cat-tag {
  position: relative;
  padding-left: 15px;
  line-height: 1;
  color: #888;
  text-transform: uppercase;
  font-family: "Lato", sans-serif;
  font-weight: 600;
  font-size: 0.8rem;

  &::before {
    background: map-get($theme-colors, logo-red);
    position: absolute;
    width: 8px;
    height: 8px;
    left: 0;
    top: 3px;
    content: "";
  }
}

.product-main-details h5 {
  font-size: 1rem;
  margin-bottom: 0;
  text-transform: uppercase;
}

.models-wrap {
  font-size: 0.9rem;
  margin-bottom: 5px;
  color: #888;
}

.rating {
  text-align: right;
  padding-top: 15px;

  h3 {
    font-size: 1rem;
    text-transform: uppercase;
  }
}

a.more-info-btn {
  color: #000;
  font-size: 1.2rem;
  font-family: $lato;
  text-transform: uppercase;
  position: absolute;
  right: 15px;
  bottom: 15px;
}

.border-gray {
  border-right: 1px solid $gray-star;
}

.product-description {
  padding: 5px 25px;

  h3 {
    font-size: 1.3rem;
    text-transform: uppercase;
    position: relative;
    margin-left: 30px;
    font-family: $lato;
    margin-bottom: 15px;
    margin-top: 15px;

    hr {
      position: absolute;
      width: 60%;
      top: -5px;
      right: 0;
    }

    &::after {
      content: "";
      width: 0;
      height: 0;
      border-top: 8px solid transparent;
      border-bottom: 8px solid transparent;
      border-left: 16px solid #ed2a2a;
      position: absolute;
      top: 5px;
      left: -30px;
    }
  }
}

form.search-form {
  margin-top: 25px;
}

input.search-field {
  width: 100% !important;
  border-radius: 0 !important;
  border: 0 !important;
  padding: 25px 20px !important;
}

input.search-submit {
  width: 10%;
  padding: 17px 20px !important;
  border-radius: 0 !important;
  border: 0 !important;
  line-height: 1 !important;
  background: map-get($theme-colors, logo-red) !important;
}

.search-form label {
  font-weight: normal;
  width: 90%;
}

section.hero.hero-us {
  height: 500px;
}

.hero-us-content {
  left: 0;
  transform: translate(0, -50%);
  width: 100%;

  h4 {
    font-size: 2.5rem;
    font-family: "Lato", sans-serif;
    font-weight: bold;
    margin-bottom: 15px;

    span {
      font-family: "PT Sans", sans-serif;
      color: #ed2a2a;
      position: absolute;
      font-size: 8rem;
      font-weight: 100;
      transform: scaleY(1.2) rotate(4deg);

      &.open-quotes {
        top: -40px;
        left: -40px;
      }

      &.close-quotes {
        top: 33px;
      }
    }
  }
}

p.quote-author {
  font-size: 1.1rem;
  font-family: "Lato", sans-serif;
  text-transform: uppercase;
  padding-left: 25px;
  position: relative;
  line-height: 1;

  &::after {
    content: "";
    background: #ed2a2a;
    width: 10px;
    height: 90%;
    position: absolute;
    left: 0;
    top: 2px;
  }
}

.us-text {
  position: relative;
}

.us-bg {
  position: absolute;
  width: 50%;
  height: 100%;
  background-size: cover;
  top: 0;
  background-position: center center;
}

.us-text-wrap {
  padding: 70px 0;
}

.us-p {
  margin-bottom: 50px;

  h3 {
    font-family: "Lato", sans-serif;
    font-weight: bold;
    text-transform: uppercase;
    font-size: 1.5rem;
    padding-left: 40px;
    position: relative;

    &::before {
      @extend .right-triangle;

      left: 0 !important;
    }
  }

  &:last-child {
    margin-bottom: 0;
  }
}

section.us-red {
  background-color: #ed2a2a;
  color: #fff;
  padding: 30px 0;
}

.red-tag {
  margin-bottom: 0;
  font-family: "Lato", sans-serif;
  font-size: 1.4rem;
  font-weight: bold;
  line-height: 1;
}

.gray-btn {
  background-color: #fff;
  color: #000;
  text-decoration: none;
  padding: 8px 20px;
  text-transform: uppercase;
  font-size: 0.8rem;
  font-weight: bold;

  &:hover {
    text-decoration: none;
  }
}

#accordion {
  padding: 70px 0;
}

.question-faq {
  border-top: 1px solid #000;
  transition: 0.25s all ease;
  cursor: pointer;

  p {
    margin-bottom: 0;
  }

  &:hover {
    background-color: #f1f3f4;

    h5 {
      &::after {
        color: #ed2a2a;
      }
    }

    .number-faq {
      color: #ed2a2a;
    }
  }

  &.active-faq {
    background-color: #f1f3f4;

    h5 {
      &::after {
        color: #ed2a2a;
        content: "-";
      }
    }

    .number-faq {
      color: #ed2a2a;
    }
  }
}

.faq-wrap:last-child .question-faq {
  border-bottom: 1px solid #000;
  margin-bottom: 70px;
}

.question-faq h5 {
  font-size: 1.2rem;
  font-weight: bold;
  font-family: "Lato", sans-serif;
  position: relative;
  margin: 0 15px;
  padding: 15px 0;

  .number-faq {
    position: absolute;
    font-size: 1.7rem;
    top: 12px;
    transition: 0.2s all ease;

    + p {
      margin-bottom: 0;
      padding: 0 50px;
    }
  }

  &::after {
    position: absolute;
    content: "+";
    top: 50%;
    right: 15px;
    color: #000;
    line-height: 1;
    margin-top: -10px;
  }
}

.faq-cat-name {
  font-size: 1.8rem;
  font-weight: bold;
  position: relative;
  padding-left: 30px;

  &::before {
    @extend .right-triangle;

    top: 8px !important;
    left: 0 !important;
  }
}

.category-wrap:last-child .faq-wrap .question-faq {
  margin-bottom: 0;
}

.hero.hero-faq {
  height: 320px;
}

.hero-faq .hero-content {
  left: 0;
  width: 100%;
  transform: translate(0, -20%);
}
