.header-producto {
  @extend .cover-bg;

  height: 250px;
}

.product-title {
  margin-top: -50px;
}

.product-content {
  padding-top: 80px;
}

.cats-sidebar {
  margin-top: -50px;
}

.product-title h2 {
  font-family: $lato;
  color: #fff;
  text-transform: uppercase;
  font-weight: bold;
  font-size: 1.8rem;
}

.parent-cat {
  border-top: $border-regular;
  border-bottom: $border-regular;
  padding: 10px 0;
  position: relative;
  transition: 0.15s all ease-out;
  font-family: $lato;

  h4 {
    margin: 0;
    font-size: 1.3rem;
  }

  a {
    color: #000;

    &:hover {
      text-decoration: none;
    }
  }

  .toggleCatList {
    position: absolute;
    top: 50%;
    right: 10px;
    margin-top: -12px;
    cursor: pointer;
  }

  &:hover {
    padding-left: 10px;
  }
}

.inner-sidebar {
  padding: 0;

  ul {
    list-style: none;
    padding: 0;
    margin-bottom: 0;
    font-size: 0.9rem;

    li {
      margin: 5px 0;
    }
  }
}

.products-bc {
  background-color: #f1f3f4;
  padding: 5px 15px;
}

.filters-menu {
  border: 1px solid #f1f3f4;
  padding: 5px 15px;
}

.square {
  width: 25px;
  height: 100%;
  display: inline-block;
  text-align: center;
  background: #000;
  position: relative;
  top: -2px;
  font-size: 0.8rem;
  line-height: 0.8;
  padding-top: 6px;
  padding-bottom: 3px;
  margin: 0;
  background-color: #fff;
}

.square i {
  color: #f1f3f4;
}

.marcas-sidebar {
  margin: 25px 0;
}

.marcas-title {
  color: #c1c8ce;
  text-transform: uppercase;
  font-family: $lato;
}

.tagPill {
  color: #c1c8ce;
  display: inline-block;
  text-transform: uppercase;
  border: 2px solid #c1c8ce;
  padding: 5px 10px;
  border-radius: 25px;
  line-height: 1;
  margin: 5px 0;
  font-weight: 100;
  font-size: 0.8rem;
  transition: 0.2s all ease;
  font-family: $lato;

  &:hover {
    background-color: #c1c8ce;
    color: #fff;
    text-decoration: none;
  }
}

.product-detail {
  margin-bottom: 25px;
}

.product-detail:first-child {
  margin-top: 25px;
}

.more-info-product {
  display: none;
  position: relative;
}

.close-description {
  position: absolute;
  bottom: 15px;
  right: 15px;

  a {
    color: #fff;
    background-color: #000;
    font-family: $lato;
    font-weight: bold;
    text-align: center;
    padding: 3px;
    font-size: 1.3rem;

    &:hover {
      text-decoration: none;
    }
  }
}

.product-main-details {
  padding-top: 15px;

  h2 {
    font-size: 1.5rem;
  }
}

.cat-tag {
  background: map-get($theme-colors, logo-red);
  display: inline-block;
  padding: 5px 10px;
  line-height: 1;
  color: #fff;
  text-transform: uppercase;
  font-family: $lato;
  font-weight: 600;
  font-size: 0.8rem;
}

.rating {
  text-align: right;
  padding-top: 15px;

  h3 {
    font-size: 1rem;
    text-transform: uppercase;
  }
}

a.more-info-btn {
  color: #000;
  font-size: 1.2rem;
  font-family: $lato;
  text-transform: uppercase;
}

.border-gray {
  border-right: 1px solid $gray-star;
}

.product-description {
  padding: 5px 25px;

  h3 {
    font-size: 1.3rem;
    text-transform: uppercase;
    position: relative;
    margin-left: 30px;
    font-family: $lato;
    margin-bottom: 15px;

    hr {
      position: absolute;
      width: 60%;
      top: 0;
      right: 0;
    }

    &::after {
      content: "";
      width: 0;
      height: 0;
      border-top: 8px solid transparent;
      border-bottom: 8px solid transparent;
      border-left: 16px solid #ed2a2a;
      position: absolute;
      top: 5px;
      left: -30px;
    }
  }
}
